* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.select-container {
  min-width: 200px;
  position: relative;
}

.select-head,
.options {
  background-color: snow;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  cursor: pointer;
}

.select-head,
.options span {
  padding: 5px 10px;
}

.select-head {
  position: relative;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  position: absolute;
  max-height: 200px;
  overflow: auto;
  width: 100%;
}

.options span {
  border-bottom: 1px solid #bdbdbd;
}

.options span:last-child {
  border-bottom: none;
}
