* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.select_container {
  min-width: 200px;
  position: relative;
}

.select_head,
.options {
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  cursor: pointer;
}

.select_head,
.options span {
  padding: 5px 10px;
}

.select_head {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.arrow {
  transition: 0.3s ease-out;
}

.arrow.up {
  transform: rotate(180deg);
  transition: 0.3s ease-out;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  position: absolute;
  max-height: 200px;
  overflow: auto;
  width: 100%;
}

.options span {
  border-bottom: 1px solid #bdbdbd;
}

.options span.item.active {
  background-color: mediumslateblue;
  color: white;
}

.options span:last-child {
  border-bottom: none;
}
